WLASL/videos
WLASL/test_vid
WLASL/data
**/__pycache__/
.DS_Store
.venv
venv
*.out
Models/MoViNet/Backbone
Models/MoViNet/data
Models/MoViNet/models
Models/MoViNet/Output
Models/MoViNet/checkpoints
Models/MoViNet/hyperparameter
.gpu
.s3d
.gpu2
Models/S3D/video_classification
Models/S3D/src
Models/S3D/results
.gifs
gifs
Test1
Models/x3d/model
Models/x3d/results
Models/V3DCNN/models
Models/V3DCNN/checkpoints
Models/V3DCNN/results


