# azureml==0.2.7
# azureml_core==1.44.0
Lintel
matplotlib==3.1.2
numpy==1.21.6
opencv-python
Pillow==9.2.0
PyYAML==6.0
scikit_learn==1.1.2
timm==0.4.12
torch
torchvision
tqdm==4.62.3
transformers==4.11.3
wandb==0.12.17